<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kalkulator walut</title>
</head>
<body>
    <form method="post">
    <label for="currency">Wybierz walutę:</label>
       <select name="currency" id="currency">
           <option value="usd">USD</option>
           <option value="aud">AUD</option>
           <option value="cad">CAD</option>
           <option value="eur">EUR</option>
           <option value="huf">HUF</option>
           <option value="chf">CHF</option>
           <option value="GBP">GBP</option>
           <option value="jpy">JPY</option>
           <option value="czk">CZK</option>
           <option value="dkk">DKK</option>
           <option value="nok">NOK</option>
           <option value="sek">SEK</option>
        </select>

    
        <label for="quantity">Ile waluty chcesz kupić: </label>
        <input type="text" id="quantity" name="quantity"><br>
        <input type="submit" value="send">
    </form>
</body>

</html>